.slider-bg-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 28px;
}
.sub-heading {
  align-self: flex-start;
  /* margin-left: 16px; */
  color: #1e293b;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter';
}
.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slick-item-container {
  /* border: 1px solid red; */
  padding: 0 5px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}
.slick-image {
  /* width: 150px; */
  width: 100%;
  /* margin: 0 10px; */
}
.slick-item-title {
  padding: 0;
  margin: 5px 0 0;
  text-align: center;
  font-size: 12px;
  color: #334155;
  font-family: 'Inter';
  font-weight: 600;
}
.slick-item-description {
  padding: 0;
  margin: 3px 0 10px;
  text-align: center;
  color: #475569;
  font-family: 'Inter';
  font-size: 10px;
}
.slick-arrow {
  background-color: gray !important;
  border-radius: 100px;
  margin-top: -25px;
}
.slick-prev {
}
